#outputs folders that contain chains etc ...
.DS_Store
 
test_reichardt_fixed_calib/outputs/

DR6_modelling/outputs/
DR6_modelling_betap/outputs/

DR6_modelling_base/outputs/
DR6_modelling_betar/outputs/
DR6_modelling_betac-betap/outputs/
DR6_modelling_betac-betap-betar/outputs/

DR4_MBAC_base/outputs/
DR4_MBAC_betar/outputs/
DR4_MBAC_betac-betap/outputs/
DR4_MBAC_betac-betap-betar/outputs/

#plik and highL data

data/
