#outputs folders that contain chains etc ...

highL_plik/outputs/
highL_plik_commonSZ/outputs/
highL_plik_commonSZCIB/outputs/
highL_plik_commonSZCIB_fixedTc/outputs/
test_reichardt/outputs/
test_reichardt_fixed/outputs/
test_reichardt_fixed_varyTd/outputs/
test_reichardt_fixed_decor/outputs/ 
reichardt_act_plik_common_poisson/outputs/
#plik and highL data

data/
